<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left" style="align-items: center;">
                        <figure>
                            <img src="image/158075.svg" alt="nihar" class="img-fluid" width="230px">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <h1>Info about me</h1>
                        <a href="/weather" ><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer part -->
  {{>footer}}
</body>
</html>